<!doctype html>
<html lang="en">
  <%- include('head', { title: "Mini message board" }) %>
  <body>
    <h1>Welcome to my message board</h1>
    <main>
      <a href="/new">New Message</a>
      <ul class="messages">
        <% messages.forEach((message, index) => { %>
          <%- include('message', { message: message, index: index }) %>
        <% }) %>
      </ul>
    </main>
    <%- include("footer") %>
  </body>
</html>
