<li class="message">
  <span><strong>Written by: </strong><%= message.user %></span>
  <span><strong>Message: </strong><%= message.text %></span>
  <a href="/messages/<%= index + 1 %>">Open message</a>
</li>
